
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    color: #272343;
    background-color: #fcf5ee;

}

section{
    width: 100%;
    height: 100%;
}

#mainBody{
    position: relative;
    padding-bottom: 50px;
}

header.container{
    margin-top: 30px;
    margin-bottom: 50px;
}

.containerSet {
    width: 90%;
    max-width: 1200px;
    min-width: 432px;
    margin: 0px auto;
    position: relative;
}

@media screen and (min-width:1599px){
.container{
  max-width:1200px;
 }
}

.navbar {
    padding: 20px 40px 10px 40px;
    /* opacity: 80%; */
}

.jumbotron{
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 100px;
    border: dashed 3px #835858;
    border-radius: 5px;
}

/* .img-fluid{
    width: 50%;
} */

div {
    display: block;
}

/* Making photo bigger when cursor is hovering the image */
.photo:hover{
    transform: scale(1.1);
}

#instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      }

footer{
    text-align: center;
    border-top: 1px solid #2f5d62;
    padding: 20px 0;
    font-size: .875rem;
    
}